.address{
    text-align: right;
}
.from{
    font-style: italic;
}
.main{
    width: 750px;
    height: 100%;
    background-color: antiquewhite;
    margin: auto;
    padding: 15px;
}
.indent{
    margin-left: 20px;
    display: flex;
    
}
